<%= form_for [@topic, @bookmark], remote: true do |f| %>
  <div class="row">
    <div class="col-md-5">
      <%= form_group_tag(@bookmark.errors[:url]) do %>
        <%= f.text_field :url, class: 'form-control', placeholder: "Enter url" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
