<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="bookmark-show">
      <%= render partial: 'bookmarks/bookmark', locals: { bookmark: @bookmark } %>
    </div>
    <%= link_to "Edit", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: "btn btn-primary"  %>
  </div>
</div>
