<div class="text-left topic-content">
  <%= link_to "##{topic.title}", topic, class: 'lead' %>
  <%= link_to topic, remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this topic?' } do %>
    <div class="glyphicon glyphicon-remove" data-toggle="popover" data-content="Delete topic"></div>
  <% end %>
  <div class="bookmarks_<%= topic.id %>">
    <%= render partial: "bookmarks/bookmarks", locals: { bookmarks: topic.bookmarks }%>
  </div>
</div>
