<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">All Blocmarks</h1>
    <%= link_to "", new_topic_path,
                remote: true,
                'data-toggle' => 'popover',
                'data-content' => 'New topic',
                class: "glyphicon glyphicon-plus new-topic-btn" %>

    <div id="topic-form" style="display:none;"></div>

    <div class="topics">
      <%= render @topics %>
    </div>
  </div>
</div>
