<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">My Blocmarks</h1>

    <div class="my_blocmarks">
      <%= render partial: "bookmarks/bookmarks", locals: { bookmarks: @user_bookmarks } %>
    </div>

    <h1 class="text-center">Liked Blocmarks</h1>

    <div class="my_likes">
      <%= render partial: "bookmarks/bookmarks", locals: { bookmarks: @liked_bookmarks } %>
    </div>
  </div>
</div>
