<div class="col-md-6 col-md-offset-3 text-center">
  <main class="inner cover home-main-border">
    <h1 class="cover-heading">Blocmarks</h1>
    <p class="lead">Save and share bookmarks with friends.</p>
  </main>
</div>
